<form action="/searchbars" method="GET" id="addForm">
    <label for="addName">Input Bar Name</label>
    <input type="text" placeholder="{{name}}" id="addName" name="addName">

    <label for="addImage">Input Image Url</label>
    <input type="text" placeholder="{{image}}" id="addImage" name="addImage">

    <label for="addUrl">Input Bar Url</label>
    <input type="text" placeholder="{{barUrl}}" id="addUrl" name="addUrl">

    <label for="addAddress">Input Bar Address</label>
    <input type="text" placeholder="{{barAddress}}" id="addAddress" name="addAddress">

    <label for="addAddress">Input Bar Phone</label>
    <input type="text" placeholder="{{barPhone}}" id="addPhone" name="addPhone">

    <label for="addDesc">Input Updated Bar Description</label>
    <input type="text" placeholder="{{description}}" id="addDesc" name="addDesc">

    <button type="submit">Add Bar Listing</button>
</form>