<div>
  <h2>{{name}}</h2>
  <img alt='{{name}}' src={{image}}>
  <br>
  <address>Address: {{barAddress}}</address>
  <p>{{description}}</p>
</div>
{{#if isAdmin}}
<button id="delete" onclick="location.href = '/searchbars'">Delete Listing</button>
<button id="updateButton" onclick="location.href='/updatebar'">Update Listing</button>
{{/if}}


