<div>
  <h2>{{name}}</h2>
  <img class="bigger_images" alt={{name}} src={{picture}}>
  <br>
<h4>Overall: {{ratingsAverage.overallAvg}} <br> Crowdedness: {{ratingsAverage.crowdednessAvg}} <br> Cleanliness: {{ratingsAverage.cleanlinessAvg}} <br> Price: {{ratingsAverage.priceAvg}} <br> </h4>
<address>Address: {{location}}</address>
<p>{{description}}</p>
  {{#each commentsBar}}
                <li>
                    <h5>{{firstname}} {{lastname}} <br> {{time}}</h5>
                    <p>{{content}}</p>
                </li>
            
      {{/each}}
</div>