<div>
  <h2>{{name}}</h2>
  <img alt={{name}} src={{image}}>
  <br>
  <a href={{barUrl}}>Bar Website</a>
  <address>Address: {{barAddress}}, {{barCity}}, {{barState}} {{barZip}} </address>
  <address>Phone: {{barPhone}}</address>
</div>