<div>
  <h2>{{name}}</h2>
  <img class="bigger_images" alt={{name}} src={{picture}}>
  <br>
<h4>Overall: {{ratingsAverage_overallAvg}} <br> Crowdedness: {{ratingsAverage_crowdednessAvg}} <br> Cleanliness: {{ratingsAverage_cleanlinessAvg}} <br> Price: {{ratingsAverage_priceAvg}} <br> </h4>
<address>Address: {{location}}</address>
<p>{{description}}</p>

<p>Been here? Fill out the ratings below for this bar!</p>
  <form method="POST" action="/searchbars/{{id}}">
          
            <label for="ratingsAverage_overallAvg">Overall Rating: </label>
            <select name="ratingsAverage_overallAvg" id="ratingsAverage_overallAvg">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>

            <label for="ratingsAverage_crowdednessAvg">Crowdedness Rating: </label>
            <select name="ratingsAverage_crowdednessAvg" id="ratingsAverage_crowdednessAvg">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

          <label for="ratingsAverage_cleanlinessAvg">Cleanliness Rating: </label>
            <select name="ratingsAverage_cleanlinessAvg" id="ratingsAverage_cleanlinessAvg">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <label for="ratingsAverage_priceAvg">Price Rating: </label>
            <select name="ratingsAverage_priceAvg" id="ratingsAverage_priceAvg">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <button type="Submit">Submit</button>
        </form>

</div>
{{#if isAdmin}}

<form method="POST" action="/delete/{{id}}">
  <button id="delete" onclick="location.href = '/delete/{{id}}'">Delete Listing</button>
</form>

<form method="GET" action="/update/{{id}}">
  <button id="update" onclick="location.href = '/update/{{id}}'">Update Listing</button>
</form>

{{/if}}




