
<form action = "/searchbars" method = "POST">
    <label for="term">Search:</label>
    <input type="text" id="term" name= "searchVenueTerm">
    <button type="submit">go</button>
</form>
{{#if isAdmin}}
<button id="addButton" onclick="location.href='/create'">Add Listing</button>
{{/if}}
<section>
    <h2>All Bars</h2>
    <ol>
        {{#each allBars}}
        <li>
            <img class="homepage-bars-pictures" src="{{picture}}">
            <a href="/searchbars/{{_id}}">{{name}}</a>
            <address>Address: {{location}}</address>
            <h4>Overall: {{ratingsAverage.overallAvg}} </h4>

        </li>
        {{/each}}
        <h3 class="no_found_match">{{NotFoundMessage}}</h3>
    </ol>
</section>