
<form action="/searchbars:id" method="GET" id="updateForm">
    <label for="updateName">Input Updated Bar Name</label>
    <input type="text" placeholder="{{name}}" id="updateName" name="updateName">

    <label for="updateImage">Input Updated Image Url</label>
    <input type="text" placeholder="{{image}}" id="updateImage" name="updateImage">

    <label for="updateUrl">Input Updated Bar Url</label>
    <input type="text" placeholder="{{barUrl}}" id="updateUrl" name="updateUrl">

    <label for="updateAddress">Input Updated Bar Address</label>
    <input type="text" placeholder="{{barAddress}}" id="updateAddress" name="updateAddress">

    <label for="updateAddress">Input Updated Bar Address</label>
    <input type="text" placeholder="{{barPhone}}" id="updatePhone" name="updatePhone">

    <label for="updateDesc">Input Updated Bar Description</label>
    <input type="text" placeholder="{{description}}" id="updateDesc" name="updateDesc">

    <button type="submit">Update Bar Listing</button>
</form>